<div class="drag_header p-3 mt-3">

    <h3 class="col-md-3 flex-nowrap m-4 ">Select or Upload Media</h3>

    <input class="col btn btn-success p-1 m-4"   type="button" value="Upload files" >
    <input class="col btn btn-success p-1 m-1"   type="button" value="Media Library" >
 </div>

<div class="area">
    <div id="dropZone">Drop files to upload</div>
    <label>or </label>
    <input class="col btn btn p-2 m-2"   type="file" value="Select file" >
    <label>maximum upload size 1mb </label>
</div>






